.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    padding: 25px;
    /* border: 1px solid #000; */
    border-radius: 15px;
    background:#539aca;
    box-shadow: 9px 9px #284a60;
}

body {
    background-color: #58a5d4;
}

.display-calculadora {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    border: 3px solid #284a60;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    margin: 3px;
    border-radius: 20px;
    border: none;
    background: #284a60;
    font-family: digital-7;
    font-size: 30px;
    color: white
}

.columna-2 {
    grid-column: span 2;

}

button:active {
    background: #1f2c3a;
}